body {
  /*bu sekilde background image'inde responsive olmasi  saglandi*/
  background-image:url('../images/homeBack.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;

}
.admin > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
}
@media (min-width: 576px) {
  html { font-size: 1.25rem; }
}
@media (min-width: 768px) {
  html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
  html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
  html { font-size: 2rem; }
}
.navbar{
  min-height:50px;
}
.navbar-custom {
  background-color:linear-gradient(#790935,#61325d);
}

.navbar{padding:0.5rem;}
.clear{
  clear:both;
}

footer{
  background-color: #33383c !important;
  padding:70px 0px;
 
}	       

footer ul li{
 padding:5px 0px;

}

.adress span , .contact span , .social span{
color: #FFF !important; 
font-weight: 800; 
padding-bottom: 10px; 
margin-bottom: 20px;
display: block;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 3px;
}

.adress li p , .contact li a , .social li a{
 color:#FFF !important;
 letter-spacing: 2px;
 text-decoration:none;
 font-size:15px;
}

.social li{
 float:left;
}

.adress , .contact , .social {
 list-style: none;
}

.fa{
 color:aliceblue !important;
 margin-right: 15px;
 font-size:14px;
}

.paragraf{
  margin:0.1em;
   font-size:15px;
   font-family: 'Courier New', Courier, monospace;
   color:aliceblue;
   text-align: center;
   background:linear-gradient(#020024,#3280ab);
   padding:0.5em;
   border-radius: 0.5em;
   overflow: hidden;
   
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.myLinks{

  text-align:left;
  font-size: 1.1em;
  margin-left: 2%;

}
.myParagraf{

    text-align:center;
    font-size: 1.1em;
    margin-left: 2%;
    color: aliceblue;
   display:block;
  
}
.myLinks {
  color: aliceblue;
}

/* visited link */
.myLinks:visited {
  color: green;
}

/* mouse over link */
.myLinks:hover {
  color: rebeccapurple;
}

/* selected link */
.myLinks:active {
  color: blue;
}
.myImg{
  margin-left:5px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  text-align: center;
  max-width: 100%;
  display: block;
  object-fit:scale-down;
  border-radius: 0.5em;
  

}
.ayirac{
  width:100%;
  height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background:linear-gradient(wheat,rgb(255, 0, 0));
  display:inline-block ;
  
}
.leftAyirac{
  margin:5px;
  border: 1em solid black;
  height: 10px;
}
.baslik0{
  color:wheat;
  font-size:30px;
  font-weight: bolder;
  text-decoration:underline;
  text-align:center;
  margin-bottom:2em;
  }