
.navbar{
    min-height:50px;

}
.navbar-custom {
    background-color:linear-gradient(#790935,#61325d);
}

.navbar{padding:0.5rem;}

.carousel {
            margin:0 auto;
            text-align: center;
            width:45%;
              height: 288px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
          width: 100%;
        height: 288px;
}
 
 .baslik{
     font-size:30px;
     font-weight: bolder;
     text-decoration:underline;
     text-align:center;
 }
 .kutahya-img{
     width:100px;
     height:100px;    
 }
 .tarihce{
    margin-right:3em;
    margin-left:3em;
     font-size:15px;
     font-family: 'Courier New', Courier, monospace;
     color:aliceblue;
     text-align:justify;
     background-image:linear-gradient(#790935,#61325d);
  
     padding:0.5em;
     border-radius: 0.5em;
     
     
 }
 body{
   
    background: linear-gradient(#524b76,#3877a2);
 }

 /* texti responsive yapmak icin her  breakpointte yani sayfa buyuup kuculdugunde yazi boyutu da ona gore ayarlanacak*/

 
footer{
    background-color: #33383c !important;
    padding:70px 0px;
}	       

footer ul li{
   padding:5px 0px;
}

.adress span , .contact span , .social span{
  color: #FFF !important; 
  font-weight: 800; 
  padding-bottom: 10px; 
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.adress li p , .contact li a , .social li a{
   color:#FFF !important;
   letter-spacing: 2px;
   text-decoration:none;
   font-size:15px;
}

.social li{
   float:left;
}

.adress , .contact , .social {
   list-style: none;
}

.fa{
   color:aliceblue !important;
   margin-right: 15px;
   font-size:14px;
}


 @media (min-width: 576px) {
     html { font-size: 1.25rem; }
 }
 @media (min-width: 768px) {
     html { font-size: 1.5rem; }
 }
 @media (min-width: 992px) {
     html { font-size: 1.75rem; }
 }
 @media (min-width: 1200px) {
     html { font-size: 2rem; }
 }
